@{
    ViewBag.Title = "Objectif du TP";
}
<h2>@ViewBag.Title</h2>
<br />
<p>On vous demande de mettre en place un site web avec une architecture client/server 3-tiers en .NET.</p>
<p>Le thème de votre site est libre et vous pouvez choisir celui que vous voulez.</p>
<p>Votre site doit comporter:
    <ul>un modèle de données avec au moins deux classes et au moins une relation entre ces classes,</ul>
    <ul>au moins deux rôles différents pour les utilisateurs du site,</ul>
    <ul>une gestion de connection par utilisateur,</ul>
    <ul>une activité qui met en oeuvre une gestion de session utilisateur.</ul>