@{
    ViewBag.Title = "Contact";
}
<h2>Контактная информация</h2>

<address>
    Master 2<br />
    E-Services<br />
    Univercité Lille 1
</address>

<address>
    <strong>Support:</strong> <br />
        Vasilina Frolkova <br />
        JF Durand 
</address>